<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="far fa-circle nav-icon"></i>
            <p>
                Home
            </p>
        </NavLink>
    </li>
</ul>

@code {

}
